<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Campaigns<b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="/campaign/new">Create Campaign</a></li>
    <li class="divider"></li>
    <li><a href="/campaign/list">Show All</a></li>
  </ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Banners<b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="/banner/new">Create Banner</a></li>
    <li class="divider"></li>
    <li><a href="/banner/list">Show All</a></li>
  </ul>
</li>
<li><a href="/analytics/home/<%=session.Advertiser.id%>">Analytics</a></li>
