<hr/>
<footer role="contentinfo">
  <div class="container text-center">
    <p>Delivering ADs since recently... very recently ! :D </p>
    <p>Converted to code by<a href="http://fb.com/swapnilsm" target="_blank">@swapnilsm</a> and <a href="http://fb.com/satyajit.bhadange" target="_blank">@user101</a>.</p>
    <p>with the help of sev, tea and everything else suppliers.</p>
  </div>
</footer>
