<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pigeon</title>

    <!-- Bootstrap core CSS -->
    <link href="/linker/styles/bootstrap.min.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/styles/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/linker/styles/datepicker3.css">
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
    <!-- Page Specific CSS -->

  </head>

  <body>
	
	<div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/advertiser/">Pigeon</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
          	<li class="active"><a href="/analytics/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/analytics/charts"><i class="fa fa-bar-chart-o"></i> Charts</a></li>
         </ul>

          <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i><%=session.Advertiser.email%><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
                <li class="divider"></li>
                <li><a href="/advertiser/logout"><i class="fa fa-power-off"></i> Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div id="page-wrapper">

		<div class="row">
        	<div class="col-lg-6">

            	<div class="panel panel-primary">
              		<div class="panel-heading">
                		<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Operating System wise visits</h3>
              		</div>
              		<div class="panel-body">
              			<div class="flot-chart">
                  		<div class="flot-chart-content" id="flot-chart-line"></div>
                	</div>
          		</div>
           	 </div>
          	</div>
			<div class="col-lg-6">

            	<div class="panel panel-primary">
              		<div class="panel-heading">
                		<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Device wise visits</h3>
              		</div>
              		<div class="panel-body">
              			<div class="flot-chart">
                  		<div class="flot-chart-content" id="flot-chart-line"></div>
                	</div>
          		</div>
           	 </div>
          </div>
        </div>
        <div class="row">
			<div class="col-lg-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Operating System</h3>
              </div>
              <div class="panel-body">
                <div class="flot-chart">
                  <div class="flot-chart-content os-chart-pie" id="os-chart-pie" ></div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Browser</h3>
              </div>
              <div class="panel-body">
                <div class="flot-chart">
                  <div class="flot-chart-content browser-chart-pie" id="browser-chart-pie"></div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Devices</h3>
              </div>
              <div class="panel-body">
                <div class="flot-chart">
                  <div class="flot-chart-content device-chart-pie" id="device-chart-pie"></div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
	  </div>
        
    <script src="/linker/js/jquery.js"></script>
    <script src="/linker/js/bootstrap.min.js"></script>

    <!-- Page Specific Plugins -->
    <script src="/js/raphael-min.js"></script>
    <script src="/js/tablesorter/jquery.tablesorter.js"></script>
    <script src="/linker/js/socket.io.js"></script>
    <script src="/linker/js/sails.io.js"></script>
    <script src="/linker/js/app.js"></script>
    <script src="/linker/js/jquery.js"></script>
    <script src="/linker/js/bootstrap.min.js"></script>
    <script src="/linker/js/bootstrap-datepicker.js"></script>
    <script src="/linker/js/bootstrap-multiselect.js"></script>
    <script src="/linker/js/custom.js"></script>
    <script src="/linker/js/form-validation.js"></script>
    <script src="/js/morris-0.4.3.min.js"></script>
    <!--<script src="/js/morris/chart-data-morris.js"></script> -->
    <script src="/js/flot/jquery.flot.js"></script>
	<script src="/js/flot/jquery.flot.tooltip.min.js"></script>
	<script src="/js/flot/jquery.flot.resize.js"></script>
	<script src="/js/flot/jquery.flot.pie.js"></script>
	<!--<script src="/js/flot/chart-data-flot.js"></script> -->
    <script src="/js/charts.js"></script>
	
  </body>

</html>
