<% if (session.authenticatedPublisher) { %>
<div class="navbar-right">
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=session.Publisher.email%><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/publisher/">Profile</a></li>
        <li class="divider"></li>
        <li><a href="/publisher/logout">Log out</a></li>
      </ul>
    </li>    
  </ul>
</div>
<% } %>
<% if (session.authenticatedAdvertiser) { %>
<div class="navbar-right">
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=session.Advertiser.email%><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="/advertiser/">Profile</a></li>
        <li class="divider"></li>
        <li><a href="/advertiser/logout">Log out</a></li>
      </ul>
    </li>
  </ul>
</div>              
<% } %>                          
